<h4 class="text-center">Registre-se e mostre seu pet ao mundo</h4>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="mb-3">
    <input class="form-control" placeholder="E-mail" formControlName="email">
    <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched" mensagem="E-mail obrigatório!" ></app-mensagem>
    <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.email && novoUsuarioForm.get('email')?.touched" mensagem="E-mail no formato incorreto!" ></app-mensagem>
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="Nome completo" formControlName="fullName">
    <app-mensagem *ngIf="novoUsuarioForm.get('fullName')?.errors && novoUsuarioForm.get('fullName')?.touched" mensagem="Nome incorreto!" ></app-mensagem>
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="Usuário" formControlName="userName">
    <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched" mensagem="Usuário deve ser em letra minuscula!" ></app-mensagem>
    <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente" mensagem="Usuário já existe!" ></app-mensagem>
  </div>
  <div class="mb-3">
    <input class="form-control" type="password" placeholder="Senha" formControlName="password">
    <app-mensagem *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario" mensagem="Senha deve ser diferente do usuário" ></app-mensagem>
  </div>
  <button class="btn btn-primary">Cadastro</button>
</form>
<br>
<p>Já é um usuário?<a [routerLink]="['']"> Faça o login</a></p>
