<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img src="/assets/img/gato_home.jpg" alt="imagem de gato" class="img-fluid d-none d-sm-block">
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
